.quiz-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.question-wrapper {
  align-self: center;
  display: flex;
  justify-content: center;
  min-height: 60px;
}
.question-wrapper p {
  max-width: 1000px;
  text-align: center;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}
.answer-wrapper {
  align-self: center;
}
.quiz-wrapper i {
  margin-right: 15px;
  font-size: 1em;
  color: var(--main-dark);
}

.buttons-wrapper {
  display: flex;
  gap: 20px;
  align-self: center;
}
.radio-btn,
.checkbox-btn label,
.radio-btn label {
  cursor: pointer;
  margin-left: 15px;
}
.radio-btn input,
.checkbox-btn input {
  transform: scale(1.5);
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.confirm-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-size: 0.8em;
  color: var(--text-light);
  background-color: var(--main-dark);
  border: none;
  cursor: pointer;
}

.confirm:hover {
  background-color: var(--main-light-hover);
}
@media (max-width: 800px) {
  .quiz {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .buttons-wrapper {
    flex-direction: column;
  }
}
