.result-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.result-wrapper i {
  font-size: 2em;
  color: var(--main-dark);
}
.result-wrapper span {
  font-size: 1.2em;
  color: var(--main-dark);
  font-weight: 800;
}
.result-wrapper p {
  max-width: 1000px;
}
.result__bar {
  width: 300px;
  height: 10px;
  border: 1px solid var(--main-dark);
  border-radius: 10px;
}
.result__bar-progress {
  background-color: var(--main-dark);

  height: 9px;
  border-radius: 15px;
  margin-left: -1px;
}
