.settings-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 0.8em;
}
.settings-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 10px;
}
.settings select,
.settings input {
  margin-top: 5px;
  padding: 5px;
  width: 300px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
}
.settings i {
  font-size: 1.5em;
  color: var(--main-dark);
}
.buttons-wrapper {
  margin-top: 15px;
  width: 75%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.radio-btn,
.radio-btn label {
  cursor: pointer;
  padding-left: 10px;
}

.stat-btn,
.start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-size: 0.8em;
  color: var(--text-light);
  background-color: var(--main-dark);
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.stat-btn:hover,
.start-btn:hover {
  background-color: var(--main-light-hover);
}

@media (max-width: 865px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .buttons-main-wrapper {
    flex-direction: column;
  }
  .settings {
    border: none;
  }
}
