.statistics-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-size: 0.8em;
  color: var(--text-light);
  background-color: var(--main-dark);
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.back:hover {
  background-color: var(--main-light-hover);
}

.statistics-wrapper span {
  font-size: 1.2em;
  color: var(--main-dark);
  font-weight: 800;
}
