* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-dark: #4844b6;
  --main-light: #bbb9f1;
  --main-light-hover: #5753ce;
  --text-light: #ffffff;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  background: url('./bg.jpg');
  background-size: 400px;
}

.header {
  background-color: var(--main-dark);
  color: var(--text-light);
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

button {
  width: 200px;
  height: 50px;
  font-size: 0.8em;
  color: var(--text-light);
  background-color: var(--main-dark);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--main-light-hover);
}

h4 {
  margin-bottom: 5px;
}
.buttons {
  display: flex;
  gap: 20px;
}
