* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-dark: #2a4087;
  --main-light: #b0cded;
  --main-light-hover: #1c2f6f;
  --text-light: #ffffff;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  padding: 0 30px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  background: url('assets/bg.jpg');
  background-size: 400px;
  box-sizing: border-box;
}

.header {
  background-color: var(--main-dark);
  color: var(--text-light);
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  height: 15%;
}
.main {
  background-color: var(--main-light);
  padding: 20px 20px 60px 20px;
}

.buttons-wrapper {
  margin-top: 15px;
  width: 75%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

button {
  width: 200px;
  height: 50px;
  font-size: 0.8em;
  color: var(--text-light);
  background-color: var(--main-dark);
  border: none;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

button:hover {
  background-color: var(--main-light-hover);
}

h4 {
  margin-bottom: 5px;
}
.buttons {
  display: flex;
  gap: 20px;
}

.modal {
  max-width: 500px;
  padding: 30px;
  background-color: var(--main-light);
  color: var(--text-dark);
}
.modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.8);
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal-bg.active {
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.preloader {
  margin: 50px auto;
  width: 8vmax;
  height: 8vmax;
  border-right: 4px solid var(--main-dark);
  border-radius: 100%;
  animation: spinRight 800ms linear infinite;
}

.preloader:before,
.preloader:after {
  content: '';
  width: 6vmax;
  height: 6vmax;
  display: block;
  position: absolute;
  top: calc(50% - 3vmax);
  left: calc(50% - 3vmax);
  border-left: 3px solid var(--main-dark);
  border-radius: 100%;
  animation: spinLeft 800ms linear infinite;
}

.preloader:after {
  width: 4vmax;
  height: 4vmax;
  top: calc(50% - 2vmax);
  left: calc(50% - 2vmax);
  border: 0;
  border-right: 2px solid var(--main-dark);
  animation: none;
}
@keyframes spinLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes spinRight {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
